
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div class="form-box">
    <form action="/student/displaystudents" method="post" >
        <input type="text" name="id" placeholder="Id">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="submit" placeholder="Sign up">
    </form>
</div>

